.project-UIWidgetSocGrcPoint-container-grccurstatuslabel,
.project-UIWidgetSocGrcPoint-container-grccurstatusvalue,
.project-UIWidgetSocGrcPoint-container-grccursteplabel,
.project-UIWidgetSocGrcPoint-container-grccurstepvalue,
.project-UIWidgetSocGrcPoint-container-grcmessagelabel,
.project-UIWidgetSocGrcPoint-container-grcmessagevalue{
	vertical-align: middle !important;
	cursor: default;
}

.project-UIWidgetSocGrcPoint-label-grccurstatus,
.project-UIWidgetSocGrcPoint-label-grccurstep,
.project-UIWidgetSocGrcPoint-label-grcmessage{
	color: black;
	font-weight: bold;
	font-size: larger;
}

.project-UIWidgetSocGrcPoint-textbox-grccurstatus,
.project-UIWidgetSocGrcPoint-textbox-grccurstep,
.project-UIWidgetSocGrcPoint-textbox-grcmessage{
	font-size: large;
	height: 2em;
	color: black;
	background-color: white;
	cursor: default;
	text-align: center;
	margin-left: 0.5em;
	margin-right: 1em;
}

.project-UIWidgetSocGrcPoint-textbox-grccurstatus {
	width: 10ch;
}

.project-UIWidgetSocGrcPoint-textbox-grccurstep{
	width: 2ch
}

.project-UIWidgetSocGrcPoint-textbox-grcmessage {
	width: 104ch;
	margin-right: 0em;
	text-align: left;
}
