/* main SOC panel */
.project-UILayoutSocSummaryViewerPager1-root {
	width: 30%;
	height: 82%;
	margin-top: 3px;
	margin-bottom: 3px;
	float: left;
}

/* panel for showing available SOC list */
.project-UILayoutSocSummaryViewer1-root {
	width: 100%;
	height: 95%;
	margin-top: 2px;
	margin-bottom: 2px;
}

/* remove unnecessary column from the SOC list */
.project-UIDataGridFormatterSOC-table tr > th:nth-of-type(1),
.project-UIDataGridFormatterSOC-table tr > th:nth-of-type(2),
.project-UIDataGridFormatterSOC-table tr > th:nth-of-type(3),
.project-UIDataGridFormatterSOC-table tr > td:nth-of-type(1),
.project-UIDataGridFormatterSOC-table tr > td:nth-of-type(2),
.project-UIDataGridFormatterSOC-table tr > td:nth-of-type(3){
	display: none;
	width: 0px;
}

.project-UIDataGridFormatterSOC-table tr > th:nth-of-type(4),
.project-UIDataGridFormatterSOC-table tr > td:nth-of-type(4),
.project-UIDataGridFormatterSOC-table colgroup > col:nth-of-type(4){
	text-align: center;
}

.project-UIDataGridFormatterSOC-table colgroup > col:nth-of-type(1),
.project-UIDataGridFormatterSOC-table colgroup > col:nth-of-type(2),
.project-UIDataGridFormatterSOC-table colgroup > col:nth-of-type(3){
	display: none;
	width: 0px;
}

/* remove unnecessary SOC list pager buttons */
.project-gwt-flextable-socsummary-filter{
	text-align: center;
}

.gwt-Button.project-UIWidgetSocSummaryPager-button-FirstPage,
.gwt-Button.project-UIWidgetSocSummaryPager-button-FastBackwardPage,
.gwt-Button.project-UIWidgetSocSummaryPager-button-PreviousPage,
.gwt-Button.project-UIWidgetSocSummaryPager-button-NextPage,
.gwt-Button.project-UIWidgetSocSummaryPager-button-FastForwardPage,
.gwt-Button.project-UIWidgetSocSummaryPager-button-LastPage{
	background-image: none;
	box-shadow: none;
	border: none;
	margin-left: 0.5em;
	margin-right: 0.5em;
	color: white;
}

.gwt-Button.project-UIWidgetSocSummaryPager-button-FirstPage:hover,
.gwt-Button.project-UIWidgetSocSummaryPager-button-FastBackwardPage:hover,
.gwt-Button.project-UIWidgetSocSummaryPager-button-PreviousPage:hover,
.gwt-Button.project-UIWidgetSocSummaryPager-button-NextPage:hover,
.gwt-Button.project-UIWidgetSocSummaryPager-button-FastForwardPage:hover,
.gwt-Button.project-UIWidgetSocSummaryPager-button-LastPage:hover{
	color: black;
}

.gwt-Button.project-UIWidgetSocSummaryPager-button-FirstPage[disabled],
.gwt-Button.project-UIWidgetSocSummaryPager-button-FirstPage[disabled]:hover,
.gwt-Button.project-UIWidgetSocSummaryPager-button-FastBackwardPage[disabled],
.gwt-Button.project-UIWidgetSocSummaryPager-button-FastBackwardPage[disabled]:hover,
.gwt-Button.project-UIWidgetSocSummaryPager-button-PreviousPage[disabled],
.gwt-Button.project-UIWidgetSocSummaryPager-button-PreviousPage[disabled]:hover,
.gwt-Button.project-UIWidgetSocSummaryPager-button-NextPage[disabled],
.gwt-Button.project-UIWidgetSocSummaryPager-button-NextPage[disabled]:hover,
.gwt-Button.project-UIWidgetSocSummaryPager-button-FastForwardPage[disabled],
.gwt-Button.project-UIWidgetSocSummaryPager-button-FastForwardPage[disabled]:hover,
.gwt-Button.project-UIWidgetSocSummaryPager-button-LastPage[disabled],
.gwt-Button.project-UIWidgetSocSummaryPager-button-LastPage[disabled]:hover{
	background-image: none;
	box-shadow: none;
	border: none;
	color: grey;
}

.project-UIWidgetSocSummaryPager-button-FirstPage,
.project-UIWidgetSocSummaryPager-button-FastForwardPage,
.project-UIWidgetSocSummaryPager-button-LastPage{
	display: none;
}
