.project-UIWidgetSocTitle-root{
	width: 100%;
	cursor: default;
}

.project-UIWidgetSocTitle-container-avaiablesoccardlabel {
	width: 30%;
	vertical-align: middle !important;
}
.project-UIWidgetSocTitle-label-avaiablesoccardlabel {
	color: black;
	font-weight: bold;
	font-size: larger;
}
.project-UIWidgetSocTitle-container-selectedsoccardlabel {
	vertical-align: middle !important;
}
.project-UIWidgetSocTitle-label-selectedsoccardlabel {
	color: black;
	font-weight: bold;
	font-size: larger;
}
.project-UIWidgetSocTitle-container-selectedsoccardvalue {
	width: 60%;
	vertical-align: middle !important;
}
.project-UIWidgetSocTitle-textbox-selectedsoccardvalue {
	width: 98%;
	font-size: large;
	height: 2em;;
	color: black;
	background-color: white;
	margin: 2px;
	border: thin solid black;
	cursor: default;
}