.project-UIDataGridFormatterSOCDetails-root {
	width: 100%;
	height: 100%;
}
.project-UIDataGridFormatterSOCDetails-table {
	width: 100%;
	height: 100%;
	background: #373737;
	color: #373737;
}

.project-UIDataGridFormatterSOCDetails-table tr > th,
.project-UIDataGridFormatterSOCDetails-table tr > td{
	text-align: center;
}

/* step */
.project-UIDataGridFormatterSOCDetails-table colgroup > col:nth-of-type(1),
.project-UIDataGridFormatterSOCDetails-table tr > th:nth-of-type(1),
.project-UIDataGridFormatterSOCDetails-table tr > td:nth-of-type(1){
	width: 2em !important;
}

/* status */
.project-UIDataGridFormatterSOCDetails-table colgroup > col:nth-of-type(3),
.project-UIDataGridFormatterSOCDetails-table tr > th:nth-of-type(3),
.project-UIDataGridFormatterSOCDetails-table tr > td:nth-of-type(3){
	width: 5em !important;
}

/* reserved */
.project-UIDataGridFormatterSOCDetails-table colgroup > col:nth-of-type(6),
.project-UIDataGridFormatterSOCDetails-table tr > th:nth-of-type(6),
.project-UIDataGridFormatterSOCDetails-table tr > td:nth-of-type(6){
	width: 3em !important;
}

/* tag status */
.project-UIDataGridFormatterSOCDetails-table colgroup > col:nth-of-type(7),
.project-UIDataGridFormatterSOCDetails-table tr > th:nth-of-type(7),
.project-UIDataGridFormatterSOCDetails-table tr > td:nth-of-type(7){
	width: 3em !important;
}

/* disable */
.project-UIDataGridFormatterSOCDetails-table colgroup > col:nth-of-type(8),
.project-UIDataGridFormatterSOCDetails-table tr > th:nth-of-type(8),
.project-UIDataGridFormatterSOCDetails-table tr > td:nth-of-type(8){
	width: 2em !important;
}

/* equipment alias & success delay */
.project-UIDataGridFormatterSOCDetails-table colgroup > col:nth-of-type(4),
.project-UIDataGridFormatterSOCDetails-table tr > th:nth-of-type(4),
.project-UIDataGridFormatterSOCDetails-table tr > td:nth-of-type(4) {
	display: none;
	width: 0px;
}

.project-UIDataGridFormatterSOCDetails-table colgroup > col:nth-of-type(5),
.project-UIDataGridFormatterSOCDetails-table tr > th:nth-of-type(5),
.project-UIDataGridFormatterSOCDetails-table tr > td:nth-of-type(5){
	width: 2em !important;
}

tr.dataGridEvenRow.UIDataGridFormatterSOCDetails.UIDataGridFormatterSOCDetails_Status_Completed {
	color: black !important;
	background: green!important;
	background-color: green !important;
	background-image: none !important;
}

tr.dataGridEvenRow.UIDataGridFormatterSOCDetails.UIDataGridFormatterSOCDetails_Status_Failed  {
	color: white !important;
	background: red!important;
	background-color: red !important;
	background-image: none !important;
}

tr.dataGridOddRow.UIDataGridFormatterSOCDetails.UIDataGridFormatterSOCDetails_Status_Completed {
	color: black !important;
	background: green!important;
	background-color: green !important;
	background-image: none !important;
}

tr.dataGridOddRow.UIDataGridFormatterSOCDetails.UIDataGridFormatterSOCDetails_Status_Failed {
	color: white !important;
	background: red!important;
	background-color: red !important;
	background-image: none !important;
}

/* patch the first row of SOC to show something not confusing - start */
.UIDataGridFormatterSOCDetails_Step_0 td div{
	display:none;
}

.UIDataGridFormatterSOCDetails_Step_0 td:after{
	content: "-";
	font-size: 16px;
	text-align: center;
}

.UIDataGridFormatterSOCDetails_Step_0 td:nth-of-type(1):after{
	content: "0";
}

.UIDataGridFormatterSOCDetails_Step_0 td:nth-of-type(2):after{
	content: "[ SOC Initialization ]";
}
/* patch the first row of SOC to show something not confusing - end */
