.project-UIWidgetSocDelayControl-root {
	height: 4em;
	float: left;
}

.project-UIWidgetSocDelayControl-container-delayafter,
.project-UIWidgetSocDelayControl-container-delayvalue,
.project-UIWidgetSocDelayControl-container-apply{
	vertical-align: middle !important;
}
.project-UIWidgetSocDelayControl-label-delayafter {
	color: black;
	font-weight: bold;
	font-size: larger;
	cursor: default;
}

.project-UIWidgetSocDelayControl-textbox-delayvalue {
	font-size: large;
	height: 2em;
	width: 2ch;
	color: black;
	background-color: white;
	text-align: center;
	margin-left: 0.5em;
	margin-right: 1em;
	cursor: default;
}

.gwt-Button.project-UIWidgetSocDelayControl-button-apply {
	height: 90%;
	font-weight: bold;
    font-size: larger;
}
.project-UIWidgetSocDelayControl-button-apply-up {
	
}

.project-UIWidgetSocDelayControl-button-apply-down {
	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
}
.project-UIWidgetSocDelayControl-button-apply-disable {

}