/*
Following CSS properties are compatible with : IE5.5 / IE8 / IE9 / IE10 / Opera 10.54
Reference documentation : http://msdn.microsoft.com/en-us/library/ff974092%28v=vs.85%29.aspx
*/

body {
    scrollbar-base-color: #485D66;
    scrollbar-face-color: #485D66;
    scrollbar-highlight-color: #999999;
    scrollbar-shadow-color: #999999;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
    scrollbar-track-color: #102027;
    scrollbar-darkshadow-color: #FFFFFF;
}

/*
Following CSS properties are compatible with : Chrome 25 / Safari 5.1.2
Reference documentation : https://www.webkit.org/blog/363/styling-scrollbars/
*/

::-webkit-scrollbar {
      background-color: #102027;
      width: 15px;
      height: 15px;
}

::-webkit-scrollbar-track {
    background-color: #1F2324;
    border-radius: 2px;
    /*-webkit-box-shadow: inset 0 0 10px rgba(72, 93, 102, 0.8);*/ 
}

::-webkit-scrollbar-thumb {
    background-color: #3A4042;
    border-radius: 2px;
    /*-webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);*/ 
}

::-webkit-scrollbar-corner{
    background-color: #121b1f;
}

/**
No CSS scrollbar implementation for : Firefox 19.0
Bug URL : https://bugzilla.mozilla.org/show_bug.cgi?id=77790
*/

