/**************************************/
/* Slider                             */
/**************************************/
.mwt-slider {
    width: 30%; 
    height: 30px;
    display: inline-block;
    background-image: url('../img/slider-bg.png');
    background-size: 100% 30px;
    background-position: center;
    margin: 0 10px;
    border: none !important;
    position: relative;
}
.mwt-slider .mwt-slider-grip {
    background-image: url('../img/slider-grip.png');
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: -7px;
}


