/****************************************************************************/
/* ObjectTree widgets                                                       */

/* object tree style */
.mwt-object-tree {
    background-color: #373737; /* PATTERN : GREY-4 */
}

/* style for a category */
.mwt-object-tree .mwt-object-tree-category {
    background-color: #202020; /* PATTERN : GREY-7 */
    border-bottom: 1px solid #202020; /* PATTERN : GREY-7 */
    cursor:pointer;
}

.mwt-object-tree .mwt-object-tree-category > table {
    width: 100%
}
.mwt-object-tree .mwt-object-tree-category td:first-child {
    width: 16px;
}

/* style for the item of a category */
.mwt-object-tree .mwt-object-tree-category .gwt-TreeItem {
    margin-left: 18px;
}

/* category closed */
.mwt-object-tree .mwt-object-tree-category .closed {
    background: #23363F url(../Images/navtree-closed.png) no-repeat;
}

/* category open */
.mwt-object-tree .mwt-object-tree-category .open {
    background: #23363F url(../Images/navtree-open.png) no-repeat;
}

/* category label */
.mwt-object-tree .mwt-object-tree-category .gwt-HTML {
    color:#FFFFFF;
    font: normal 1em tahoma,arial,helvetica,sans-serif; /* PATTERN : FONT-1 */
    padding:6px 0px;
}

/* style for a equipment */
.mwt-object-tree .mwt-object-tree-equipment {
    margin-left: 0px !important;
    font: normal 1em tahoma,arial,helvetica,sans-serif; /* PATTERN : FONT-1 */
}

.mwt-object-tree .mwt-object-tree-equipment > table {
    width: 100%
}

/* style for the equipment label */
.mwt-object-tree .mwt-object-tree-equipment .gwt-HTML {
    font: inherit;
    vertical-align: text-top;
}

/* alternative style for a equipment */
.mwt-object-tree .mwt-object-tree-equipment-alt1  {
    background-color: #303030; /* PATTERN : GREY-5 */
}
.mwt-object-tree .mwt-object-tree-equipment-alt2  {
    background-color: #373737; /* PATTERN : GREY-4 */
}

/* style for a selected equipment */
.mwt-object-tree .mwt-object-tree-equipment-selected {
    background-color: #018596;
    font: normal 1em tahoma,arial,helvetica,sans-serif; /* PATTERN : FONT-1 */
}

.mwt-object-tree .mwt-treepanel-root > table:first-child {
    display: none;
}

.mwt-object-tree .mwt-tree-node-level1 {
    margin-left: 0px !important;
}
