.project-gwt-panel-event-panel {
	width: 100%;
	height: 100%;
}

.project-gwt-panel-eventsummary-action-empty {
	height: 100%;
	width: 1210px;
}

.project-gwt-button-eventsummary-filterview-button-0-0 {
    width: 115px;
    height: 45px;
    font-weight: bold !important;
    font-size: 16px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.project-gwt-button-eventsummary-filterview-button-0-1 {
    width: 115px;
    height: 45px;
    font-weight: bold !important;
    font-size: 16px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.project-gwt-button-eventsummary-filterview-button-0-2 {
    width: 115px;
    height: 45px;
    font-weight: bold !important;
    font-size: 16px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.project-gwt-panel-event-panel-scsolslist {
	width: 100%;
	height: 100%;
}