.project-gwt-panel-control-inspector {
	background-color: #BEBEBE;
	width: 100%;
	height: 100%;
}

/* pager styles */
.gwt-Button.project-gwt-button-inspector-control-up,
.gwt-Button.project-gwt-button-inspector-control-down {
	width: 50px;
	font-size: 20px;
	height: 40px;
	margin: 5px;
}

.gwt-InlineLabel.project-gwt-inlinelabel-inspector-control-pagenum {
	width: 50px;
	padding: 10px;
	font-size: 22px;
}

.gwt-Button.project-gwt-button-inspector-control-selected {
	background-image: none;
	background-color: rgb(246, 230, 139);
}

.project-gwt-label-inspector-control-control {
	font-size: 16px;
}

.gwt-Button.project-gwt-button-inspector-control-ctrl {
	width: 110px;
	font-size: 16px;
	margin-right: 5px;
	font-weight: bold;
}

/* control execute button */
.gwt-Button.project-gwt-button-inspector-control-execute {
	margin: 5px;
	height: 40px;
	width: 105px;
	font-size: 19px;
	font-weight: bold;
}
