/* UIViewEvent */
.project-gwt-panel-eventsummary-upperbar {
	width:100%;
	height:100%;
}
.project-gwt-panel-eventsummary-bottombar {
	width:100%;
	height:0px;
}
.project-gwt-panel-eventsummary-toolbar {
	width:100%;
	height:100%;
	background-color: drakgrey;
}

.project-gwt-inlinelabel-eventsummary-counter-label  {
	font-size: 16px !important;
}

.project-gwt-inlinelabel-eventsummary-counter-value  {
	font-weight: bold;
	font-size: 16px !important;
	text-align: center;
}

.project-gwt-button-eventsummary-ackpage {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	margin-left: 5px !important;
}

.project-gwt-button-eventsummary-print {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	margin-left: 5px !important;
}

.project-gwt-button-eventsummary-filterreset {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	margin-left: 5px !important;
}

.gwt-Button.project-gwt-button-eventsummary-filterapplied {
	width:115px;
	height:45px;
	font-weight: bold;
	font-size: 16px !important;
	color: white !important;
	background-color: red !important;
	background-image: none !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	cursor: default;
}
