/* UIScreenMMI */

.project-gwt-panel-mmi-outer {
	width: 100%;
	height: 100%;
	background-color: dimgrey;
}

.project-gwt-panel-mmi-inner {
	width: 100%;
	height: 100%;
	background-color: dimgrey;
}

.project-gwt-panel-mminorth-outer {
	width: 100%;
	height: 100%;
	background-color: dimgrey;
}

.project-gwt-panel-mminorth-inner {
	width: 100%;
	height: 100%;
	background-color: dimgrey;
}

.project-gwt-panel-mmieast-outer {
	width: 100%;
	height: 100%;
	background-color: dimgrey;
}

.project-gwt-panel-mmieast-inner {
	width: 100%;
	height: 100%;
	background-color: dimgrey;	
}

.project-gwt-panel-mmisouth-outer {
	width: 100%;
	height: 100%;
	background-color: dimgrey;
}

.project-gwt-panel-mmisouth-inner {
	width: 100%;
	height: 100%;
	background-color: dimgrey;	
}

.project-gwt-panel-mmiwest-outer {
	width: 100%;
	height: 100%;
	background-color: dimgrey;
}

.project-gwt-panel-mmiwest-inner {
	width: 100%;
	height: 100%;
	background-color: dimgrey;	
}

/* End Of New */

.project-gwt-panel-west {
	background-color: dimgrey;
}

.project-gwt-panel-east {
	background-color: dimgrey;
}

.project-gwt-panel-south {
	background-color: dimgrey;
	padding: 10px;
}

.project-gwt-panel-north {
	background-color: dimgrey;
}