/* UIPanelAlarmBanner */
.project-gwt-panel-alarmbanner-outer {
	background-color: dimgrey;
	margin-top: 5px;
}

.project-gwt-panel-alarmbanner-inner {

}

.project-gwt-panel-alarmbanner-viewerview-inner {
	width: 1450px;
	height: 760px;
}

.project-gwt-panel-uipanelsoundservercontroller {
	width: 0px !important;
	height: 0px !important;
}

.project-gwt-flextable-alarmbanner-button {
	margin-top: 5px;
}

.project-gwt-panel-alarmbanner-button {
	width: 100%;
}

.project-gwt-button-alarmbanner-button-0-0 {
	width: 80px !important;
	height: 32px !important;
	font-size: 13px !important;
	font-weight: bold;
	margin-left: 5px !important;
}

.project-gwt-button-alarmbanner-button-0-1 {
	width: 80px !important;
	height: 32px !important;
	font-size: 13px !important;
	font-weight: bold;
	margin-left: 5px !important;
}

.project-gwt-button-alarmbanner-button-1-0 {
	width: 80px !important;
	height: 32px !important;
	font-size: 13px !important;
	font-weight: bold;
	margin-top: 5px !important;
	margin-left: 5px !important;
	
	background-image: url('images/hborder.png');
    background-position-x: 0px;
    background-position-y: -27px;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
	visibility: hidden;
}

.project-gwt-button-alarmbanner-button-1-0-down {
	width: 80px !important;
	height: 32px !important;
	font-size: 13px !important;
	font-weight: bold;
	margin-top: 5px !important;
	margin-left: 5px !important;
	background: red !important;
	color: white;
}

.project-gwt-button-alarmbanner-button-1-1 {
	width: 80px !important;
	height: 32px !important;
	font-size: 13px !important;
	font-weight: bold;
	margin-top: 5px !important;
	margin-left: 5px !important;
}

.project-gwt-panel-alarmbanner-filter {
	width: 100%;
	height: 100%;
	margin-right: 5px;
}

.project-gwt-textbox-alarmbanner-counter-0-0 {
	width: 50px !important;
	color: white !important;
	background-color: dimgrey;
	border-style: none;
}
.project-gwt-textbox-alarmbanner-counter-0-1 {
	width: 50px !important;
	color: white !important;
	text-align: center;
	background-color: dimgrey;
	border-style: none;
}
.project-gwt-textbox-alarmbanner-counter-0-2 {
	width: 50px !important;
	color: white !important;
	text-align: center;
	background-color: dimgrey;
	border-style: none;
}
.project-gwt-textbox-alarmbanner-counter-0-3 {
	width: 50px !important;
	color: white !important;
	text-align: center;
	background-color: dimgrey;
	border-style: none;
}
.project-gwt-textbox-alarmbanner-counter-0-4 {
	width: 50px !important;
	color: white !important;
	text-align: center;
	background-color: dimgrey;
	border-style: none;
}
.project-gwt-textbox-alarmbanner-counter-1-0 {
	width: 50px !important;
	color: white !important;
	background-color: dimgrey;
	text-align: right;
	border-style: none;
}
.project-gwt-textbox-alarmbanner-counter-1-1 {
	width: 50px !important;
	
	color: black!important;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
	font-size: 16px !important;
	border-style: none;
	border-bottom: 3px solid lightgrey;
}
.project-gwt-textbox-alarmbanner-counter-1-2{
	width: 50px !important;
	
	color: black!important;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
	font-size: 16px !important;
	border-style: none;
	border-bottom: 3px solid red;
}
.project-gwt-textbox-alarmbanner-counter-1-3 {
	width: 50px !important;
	
	color: black!important;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
	font-size: 16px !important;
	border-style: none;
	border-bottom: 3px solid orange;
}
.project-gwt-textbox-alarmbanner-counter-1-4 {
	width: 50px !important;
	
	color: black!important;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
	font-size: 16px !important;
	border-style: none;
	border-bottom: 3px solid yellow;
}
.project-gwt-textbox-alarmbanner-counter-2-0 {
	width: 50px !important;
	color: white !important;
	background-color: dimgrey;
	text-align: right;
	border-style: none;
}
.project-gwt-textbox-alarmbanner-counter-2-1 {
	width: 50px !important;
	
	color: black!important;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
	font-size: 16px !important;
	border-style: none;
	border-bottom: 3px solid lightgrey;
}
.project-gwt-textbox-alarmbanner-counter-2-2 {
	width: 50px !important;
	
	color: black!important;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
	font-size: 16px !important;
	border-style: none;
	border-bottom: 3px solid red;
}
.project-gwt-textbox-alarmbanner-counter-2-3 {
	width: 50px !important;
	
	color: black!important;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
	font-size: 16px !important;
	border-style: none;
	border-bottom: 3px solid orange;
}
.project-gwt-textbox-alarmbanner-counter-2-4 {
	width: 50px !important;
	
	color: black!important;
	background-color: lightgrey;
	vertical-align: middle;
	text-align: center;
	font-size: 16px !important;
	border-style: none;
	border-bottom: 3px solid yellow;
}

.project-gwt-panel-verticalspliter {
	width: 100%;
}
.project-gwt-flextable-verticalspliter {
	width: 100%;
}
.project-gwt-html-spliter-0-0 {
	width: 100%;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,75), rgba(0,0,0,0));
}

/* sound controller */
.mwt-SoundController{
    width: 82px;
    height: 34px;
    border: none;
}

.mwt-stopButton {
    width: 0px !important;
    height: 0px !important;
    margin: 0px !important;
    visibility: hidden;
}

.mwt-volumeControl {
    width: 0px !important;
    height: 0px !important;
    margin: 0px !important;
    visibility:hidden;
}

.gwt-ToggleButton.mwt-muteButton {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-size: cover;
}

.gwt-ToggleButton.mwt-muteButton.gwt-ToggleButton-up {
    background-image: url('../../../../scsmain/resources/img/project/hscs/AlarmButtonAudible.png');
}

.gwt-ToggleButton.mwt-muteButton.gwt-ToggleButton-down {
    background-image: url('../../../../scsmain/resources/img/project/hscs/AlarmButtonSilent.png');
}

.gwt-ToggleButton.mwt-muteButton.gwt-ToggleButton-down-hovering{
    background-image: url('../../../../scsmain/resources/img/project/hscs/AlarmButtonSilentHovered.png');
}

.gwt-ToggleButton.mwt-muteButton.gwt-ToggleButton-up-hovering {
    background-image: url('../../../../scsmain/resources/img/project/hscs/AlarmButtonAudibleHovered.png');
}