/* UIGws */
.project-gwt-panel-gws-main {
	width: 100%;
	height: 100%;
}

.project-gwt-panel-gws-logarea {
	width: 100%;
	height: 100%;
}

.project-gwt-panel-gws-logarea-scrollpanel {
	width: 100%;
	height: 100%;
}