/* UIPanelMenu */
.project-gwt-panel-navigation-0 {
	margin-top: 10px;
	margin-left: 10px;
	background-color: dimgrey;
}
.project-gwt-panel-navigation-1 {
	margin-top: 10px;
	background-color: dimgrey;
}
.project-gwt-panel-navigation-2 {
	margin-top: 10px;
	margin-left: 10px;
	background-color: dimgrey;
}
.project-gwt-panel-navigation-3  {
	margin-left: 10px;
	background-color: dimgrey;
}
.project-gwt-panel-navigationmenu-0 {
	width: 100%;
	height: 100%;
}
.project-gwt-flextable-navigationmenu-0 {
	width: 100%;
	height: 100%;
}
.project-gwt-panel-navigationmenu-0-0-0 {
	width: 100%;
	height: 100%;
}

.project-gwt-panel-navigationmenu-1 {
	width: 100%;
	height: 100%;
}
.project-gwt-flextable-navigationmenu-1 {
	width: 100%;
	height: 100%;
}
.project-gwt-panel-navigationmenu-1-0-0 {
	width: 100%;
	height: 100%;
}

.project-gwt-panel-navigationmenu-2 {
	width: 100%;
	height: 100%;
}
.project-gwt-flextable-navigationmenu-2 {
	width: 100%;
	height: 100%;
}
.project-gwt-panel-navigationmenu-2-0-0 {
	width: 100%;
	height: 100%;
}

.project-gwt-panel-navigationmenu-3 {
	width: 100%;
	height: 100%;
}
.project-gwt-flextable-navigationmenu-3 {
	width: 100%;
	height: 100%;
}
.project-gwt-panel-navigationmenu-3-0-1 {
	width: 100%;
	height: 100%;
}

.project-gwt-button-navigation-0 {
	width: 142px;
	height: 30px;
	font-size: 16px !important;
	font-weight: bold;
	background: url("images/hborder.png") repeat-x 0px -27px;
	margin-bottom: 4px !important;
}
.project-gwt-button-navigation-0-selected {
	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
}

.project-gwt-button-navigation-1 {
	width: 142px;
	height: 30px;
	font-size: 16px !important;
	font-weight: bold;
	background: url("images/hborder.png") repeat-x 0px -27px;
	margin-right: 4px !important;
}
.project-gwt-button-navigation-1-selected {
	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
}
.project-gwt-button-navigation-2 {
	width: 142px;
	height: 30px;
	font-size: 16px !important;
	font-weight: bold;
	background: url("images/hborder.png") repeat-x 0px -27px;
	margin-bottom: 4px !important;
}
.project-gwt-button-navigation-2-selected {
	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
}
.project-gwt-button-navigation-3 {
	width: 142px;
	height: 30px;
	font-size: 16px !important;
	font-weight: bold;
	background: url("images/hborder.png") repeat-x 0px -27px;
	margin-bottom: 4px !important;
}
.project-gwt-button-navigation-3-selected {
	background-image: none !important;
	background-color: rgb(246, 230, 139) !important;
}
