.project-gwt-panel-info-inspector {
	background-color: #BEBEBE;
	width: 100%;
	height: 100%;
}

/* pager styles */
.gwt-Button.project-gwt-button-inspector-info-up,
.gwt-Button.project-gwt-button-inspector-info-down {
	width: 50px;
	font-size: 20px;
	height: 40px;
	margin: 5px;
}

.gwt-InlineLabel.project-gwt-inlinelabel-inspector-info-pagenum {
	width: 50px;
	padding: 10px;
	font-size: 22px;
}

/* point status value */
.gwt-InlineLabel.project-gwt-inlinelabel-inspector-info-label,
.gwt-TextBox.project-gwt-textbox-inspector-info-value {
	font-size: 16px;
	color: black;
}

.gwt-TextBox.project-gwt-textbox-inspector-info-value {
	background-color: white;
}

/* point status column */
.project-gwt-flextable-inspector-info-label-col,
.project-gwt-flextable-inspector-info-value-col {
	width: 150px;
}
.project-gwt-flextable-inspector-info-status-col {
	width: 15px;
}

/* ack. page button */
.gwt-Button.project-gwt-button-inspector-info-ackpage {
	margin: 5px;
	height: 40px;
	width: 105px;
	font-size: 19px;
	font-weight: bold;
}

/* indicator blocks */
.project-gwt-inlinelabel-inspector-info-status-green,
.project-gwt-inlinelabel-inspector-info-status-red,
.project-gwt-inlinelabel-inspector-info-status-blue,
.project-gwt-inlinelabel-inspector-info-status-grey {
	color: rgba(0,0,0,0);
	background-image: none;
	font-size: 16px;
}

.project-gwt-inlinelabel-inspector-info-status-green {
	background-color:green;
}

.project-gwt-inlinelabel-inspector-info-status-red {
	background-color:red;
}

.project-gwt-inlinelabel-inspector-info-status-blue {
	background-color:blue;
}

.project-gwt-inlinelabel-inspector-info-status-grey {
	background-color:grey;
}
