.project-gwt-panel-tag-inspector {
	background-color: #BEBEBE;
	width: 100%;
	height: 100%;
}

/* pager styles */
.gwt-Button.project-gwt-button-inspector-tag-up,
.gwt-Button.project-gwt-button-inspector-tag-down {
	width: 50px;
	font-size: 20px;
	height: 40px;
	margin: 5px;
}

.gwt-InlineLabel.project-gwt-inlinelabel-inspector-tag-pagenum {
	width: 50px;
	padding: 10px;
	font-size: 22px;
}

/* tag label */
.project-gwt-label-inspector-tag-control {
	font-size: 16px;
}

/* tag control button */
.gwt-Button.project-gwt-button-inspector-tag-ctrl {
	width: 110px;
	font-size: 16px;
	font-weight: bold;
	margin-right: 5px;
}

/* tag execute button */
.gwt-Button.project-gwt-button-inspector-tag-execute {
	margin: 5px;
	height: 40px;
	width: 105px;
	font-size: 19px;
	font-weight: bold;
}

