.project-gwt-panel-advance-inspector {
	background-color: #BEBEBE;
	width: 100%;
	height: 100%;
}

/* pager styles */
.gwt-Button.project-gwt-button-inspector-advance-up,
.gwt-Button.project-gwt-button-inspector-advance-down {
	width: 50px;
	font-size: 20px;
	height: 40px;
	margin: 5px;
}

.gwt-InlineLabel.project-gwt-inlinelabel-inspector-advance-pagenum {
	width: 50px;
	padding: 10px;
	font-size: 22px;
}

.project-gwt-inlinelabel-inspector-advance-header-label {
	font-size: 16px;
	font-weight: bold;
}

.project-gwt-inlinelabel-inspector-advance-label {
	font-size: 16px;
}

.gwt-ListBox.project-gwt-listbox-inspector-advance-points-value {
	font-size: 16px;
	height: 24px;
	width: 226px;
}

.project-gwt-textbox-inspector-advance-points-value {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16px;
	width: 220px;
}

.gwt-Button.project-gwt-button-inspector-advance-point-apply {
	width: 64px;
	font-size: 16px;
	font-weight: bold;
}

/* make all columns fit all available width */
.project-gwt-flextable-inspector-advance-status-col0,
.project-gwt-flextable-inspector-advance-status-col1,
.project-gwt-flextable-inspector-advance-status-col2,
.project-gwt-flextable-inspector-advance-status-col3,
.project-gwt-flextable-inspector-advance-status-col4,
.project-gwt-flextable-inspector-advance-status-col5,
.project-gwt-flextable-inspector-advance-status-col6,
.project-gwt-flextable-inspector-advance-status-col7 {
	width:100%;
}

/* checkbox styles */
.project-gwt-checkbox-inspector-advance-points-ai,
.project-gwt-checkbox-inspector-advance-points-ss,
.project-gwt-checkbox-inspector-advance-points-mo{
	position:relative;
}

.project-gwt-checkbox-inspector-advance-points-ai > input[type="checkbox"],
.project-gwt-checkbox-inspector-advance-points-ss > input[type="checkbox"],
.project-gwt-checkbox-inspector-advance-points-mo > input[type="checkbox"]{
	visibility: hidden;
	width: 22px;
	height: 22px;
	margin: 1px;
}

.project-gwt-checkbox-inspector-advance-points-ai > input[type="checkbox"] + label,
.project-gwt-checkbox-inspector-advance-points-ss > input[type="checkbox"] + label,
.project-gwt-checkbox-inspector-advance-points-mo > input[type="checkbox"] + label {
	cursor: pointer;
	position: absolute;
	width: 22px;
	height: 22px;
	left: 0px;
	background: lightgrey;
	border: 1px solid grey;
}

.project-gwt-checkbox-inspector-advance-points-ai > input[type="checkbox"] + label::before,
.project-gwt-checkbox-inspector-advance-points-ss > input[type="checkbox"] + label::before,
.project-gwt-checkbox-inspector-advance-points-mo > input[type="checkbox"] + label::before {
	opacity: 0.1;
	content: '';
	position: absolute;
	width: 12px;
	height: 5px;
	top: 6px;
	left: 4px;
	border: 3px solid black;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

.project-gwt-checkbox-inspector-advance-points-ai > input[type="checkbox"] + label:hover::before,
.project-gwt-checkbox-inspector-advance-points-ss > input[type="checkbox"] + label:hover::before,
.project-gwt-checkbox-inspector-advance-points-mo > input[type="checkbox"] + label:hover::before {
	opacity: 0.3;
}

.project-gwt-checkbox-inspector-advance-points-ai > input[type="checkbox"]:checked + label::before,
.project-gwt-checkbox-inspector-advance-points-ss > input[type="checkbox"]:checked + label::before,
.project-gwt-checkbox-inspector-advance-points-mo > input[type="checkbox"]:checked + label::before {
	opacity: 1;
}

.project-gwt-checkbox-inspectoradvance-points-activated input[type="checkbox"] + label {
	background: yellow;
}