log/
Alarms/EventList/
Alarms/UserLibs/
Database/binary/
Database/DbmPoller/
Database/History/
Database/HisServer/
Database/UserLibs/
Replay/
Profiles/*.snap
DpcVarServer
snapshots/
ScsEnvList
scadasoft.cfg
Archives/dbv.cfg
dbmdump.log
dac/spy/
*.pid
LT/
/bin/
/evt/
