.project-UIWidgetOPMChangeTargetUserPassword-container-changepassword {
	vertical-align: middle;
	margin: 0 auto;
}

.project-UIWidgetOPMChangeTargetUserPassword-label-firstlabel {
	height:45px;
	color: black;
	font-weight: bold !important;
	font-size: 16px !important;
	margin-right: 25px !important;
}

.project-UIWidgetOPMChangeTargetUserPassword-label-operatorlabel {
	color: black;
	font-weight: bold !important;
	font-size: 16px !important;
	margin-right: 25px !important;
}

.project-UIWidgetOPMChangeTargetUserPassword-textbox-operatorvalue {
	font-size: 16px;
	height: 39px;
	width: 150px;
	color: black;
	background-color: white;
	border: thin solid black !important;
}

.project-UIWidgetOPMChangeTargetUserPassword-label-oldpasslabel {
	color: black;
	font-weight: bold !important;
	font-size: 16px !important;
	margin-right: 25px !important;
}

.project-UIWidgetOPMChangeTargetUserPassword-textbox-oldpassvalue {
	font-size: 16px;
	height: 39px;
	width: 150px;
	color: black;
	background-color: white;
	border: thin solid black !important;
}

.project-UIWidgetOPMChangeTargetUserPassword-label-newpasslabel {
	color: black;
	font-weight: bold !important;
	font-size: 16px !important;
	margin-right: 25px !important;
}

.project-UIWidgetOPMChangeTargetUserPassword-textbox-newpassvalue {
	font-size: 16px;
	height: 39px;
	width: 150px;
	color: black;
	background-color: white;
	border: thin solid black !important;
}

.project-UIWidgetOPMChangeTargetUserPassword-label-newpasslabel2 {
	color: black;
	font-weight: bold !important;
	font-size: 16px !important;
	margin-right: 25px !important;
}

.project-UIWidgetOPMChangeTargetUserPassword-textbox-newpassvalue2 {
	font-size: 16px;
	height: 39px;
	width: 150px;
	color: black;
	background-color: white;
	border: thin solid black !important;
}

.project-UIWidgetOPMChangeTargetUserPassword-button-changepassword {
	color: black;
	width:115px;
	height:45px;
	font-weight: bold !important;
    font-size: 16px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}