
/***************************************************************************/
/* Change password dialog panel                                            */

.gwt-DialogBox.mwt-changePassPanel {
    border: 1px solid #161B21;
    background-color: #373737; /* PATTERN : GREY-4 */
    opacity: 1;
    z-index: 91;
}
.gwt-DialogBox.mwt-changePassPanel .Caption {
    background: -webkit-linear-gradient(top, #2A2A2A, #202020);
    background: -moz-linear-gradient(top, #2A2A2A, #202020);
    background: -ms-linear-gradient(top, #2A2A2A, #202020);
    padding: 4px;
    border-width: 0px;
    border-bottom: 1px solid #161616;
    font: normal 1.2em tahoma,arial,helvetica,sans-serif; /* PATTERN : FONT-2 */
    line-height: 1.4em;
    color: #FFFFFF;
}
.mwt-changePassPanel .dialogMiddleCenterInner.dialogContent {
    background-color: #373737; /* PATTERN : GREY-4 */
}
.mwt-changePassPanel .mwt-changePassLabel {
    font-weight: normal;
    text-align: left;
    padding: 0.5em 0em 1em 1em;
    color: #FFFFFF;
    width: 12em;
}

.mwt-changePassPanel .mwt-changePassError  {
    font-weight: normal;
    text-align: center;
    padding: 0.5em 0.5em 1em 1em;
    color: #FF0000;
    width: 20em;
}

.mwt-changePassPanel input {
    font-weight: normal;
    text-align: left;
    margin: 0em 1em 0em 0em;
    color: #000000;
    width: 10em;
    background-color: #ABB2B5;
    border:1px solid #556165;
}

.mwt-changePassPanel input:hover, .mwt-changePassPanel input:focus {
  border: #00E0FF solid 1px;
  background-color: #CDD5D9;
}

.mwt-changePassPanel button {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.mwt-changePassGlass {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: 90;
}
