.mwt-ts-container {
/*   background-color: #373737; */
  background-color: #16191A;
}

.mwt-ts-factory-container {
  background-color: #373737;
  display: flex;
  flex-direction: column;
}

.mwt-ts-factory-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*max-height: 30px;*/
  border: #303030 1px solid;
  background: #303030;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.mwt-ts-factory-buttons * {
  margin: 0px 5px 0px 5px;
}

.mwt-ts-factory-buttons .gwt-Button {
  margin: 0px 10px 0px 10px;
}

.mwt-ts-form-error {
  border: 1px solid red;
}

.mwt-ts-selection-container {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
  border: #303030 1px solid;
  background: #303030;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.mwt-ts-selection-container-title {
  margin: 5px;
}

.mwt-ts-selection-container > .mainContainer {
  flex-grow: 1;
}

.mwt-ts-selection-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /*max-height: 30px;*/
  margin: 5px;
  padding: 5px;
}

.mwt-ts-conf-container {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
  border: #303030 1px solid;
  background: #303030;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.mwt-ts-conf-container-title {
  margin: 5px;
}

.mwt-ts-conf-container .mwt-ts-conf-grid {
  flex-grow: 1;
}

.mwt-ts-conf-colorCell {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.ts-conf-grid-colorCombo-container {
  background: #303030;
  border: 1px solid #484848;
  border-radius: 5px;
  display: flex;
  flex-direction: column; 
  padding: 2px;
}

.ts-conf-grid-colorCombo-row {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.ts-conf-grid-colorCombo-color {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  margin: 2px;
  cursor: pointer;
}

.ts-conf-grid-colorCombo-auto {
  cursor: pointer;
  align-self: flex-end;
}

/*
 * Dirty but needed to display a composite cell in a gwt data grid on only one row.
 */
.ts-conf-timeShift > div {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

/* 
 * dirty but needed to fix the fact that a composite cell in a gwt 
 * data grid is made with 2 spans and that a span doesn't take the whole
 * width of it parent.
 */
.ts-conf-timeShift span:last-of-type {
  width: 100%;
}

.ts-conf-timeShift input {
  max-width: 25px;
  padding: 1px 2px;
  background: #161616; /* PATTERN : GREY-8 */
  border: 1px solid #666;
  color: white;
  transition-property: border-color;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.ts-conf-timeShift input:hover, .ts-conf-timeShift input:focus {
  border: 1px solid #018596;
  transition-property: border-color;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
}

.ts-conf-delete-container {
  cursor: pointer;
  transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.ts-conf-delete-container:hover {
  color: #00E0FF;
  transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
}

.ts-conf-delete:after {
  content: "\2716";
  cursor: pointer;
  font-size: 1.5em;
  transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
 
.ts-conf-delete:hover {
  color: #00E0FF;
  transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
}

/***********************************************/
/** date range panel */
.mwt-ts-conf-dateRange {
  display: flex;
  flex-direction: row;
}

.mwt-ts-conf-dateRange-title {
  margin: 10px 10px 5px;
}

.mwt-ts-conf-dateRange-container {
  display: flex;
  flex-direction: column;
}

.mwt-ts-conf-dateRange-relative-container {
  margin: 10px 10px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mwt-ts-conf-dateRange-relative-container .mwt-ts-form-error {
  border: 1px solid red;
}

.mwt-ts-conf-dateRange-relative-container .gwt-Label {
  margin-left: 10px;
}

.mwt-ts-conf-dateRange-relative-container .gwt-RadioButton {
  margin-left: 10px;
  width: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.mwt-ts-conf-dateRange-relative-container .gwt-RadioButton input,
.mwt-ts-conf-dateRange-relative-container .gwt-RadioButton label {
  cursor: pointer;
}

.mwt-ts-conf-dateRange-relative-container .gwt-CheckBox {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.mwt-ts-conf-dateRange-relative-container .gwt-CheckBox input,
.mwt-ts-conf-dateRange-relative-container .gwt-CheckBox label {
  cursor: pointer;
}

.mwt-ts-conf-dateRange-relative-value {
  margin-left: 10px;
  max-width: 25px;
  font-size: 12px;
  padding: 1px 2px;
  background: #161616; /* PATTERN : GREY-8 */
  border: 1px solid #666;
  color: white;
  transition-property: border-color;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.mwt-ts-conf-dateRange-relative-value:hover, .mwt-ts-conf-dateRange-relative-value:focus {
  border: 1px solid #018596;
  transition-property: border-color;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
}

.mwt-ts-conf-dateRange-relative-unit {
  margin-left: 10px;
}

.mwt-ts-conf-dateRange-relative-unit .mwt-combobox {
  max-width: 100px;
}

.mwt-ts-conf-dateRange-relative-unit .mwt-combobox-selected {
  max-width: 100px;
}

.mwt-ts-conf-dateRange-absolute-container {
  margin: 10px 10px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mwt-ts-conf-dateRange-absolute-container .gwt-RadioButton {
  margin-left: 10px;
  width: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.mwt-ts-conf-dateRange-absolute-container .gwt-RadioButton input,
.mwt-ts-conf-dateRange-absolute-container .gwt-RadioButton label {
  cursor: pointer;
}

.mwt-ts-conf-dateRange-absolute-container .gwt-RadioButton,
.mwt-ts-conf-dateRange-absolute-container .gwt-DateBox ,
.mwt-ts-conf-dateRange-absolute-container .gwt-Label {
  margin-left: 10px;
}

/*************************************************/
/* DurationPanel                                 */
.duration-container {
  align-items: center;
  margin-left: 8px;
  display: -webkit-flex;
  display: flex;
  flex-direction: inherit;
  -webkit-flex-direction: inherit;
}
.duration-label {
  color: #FFFFFF;
  margin: 4px 8px 4px 0px;
/*   font-family: "Roboto-medium"; */
  font-size: 13px;
  vertical-align: middle;
}
.duration-value {
  color: white;
  margin: 4px 8px;
  width: auto;
  background-color: #5b5b5b;
  border: none;
  border-radius: 2px;
  max-width: 50px;
/*   font-family: "Roboto-medium"; */
  font-size: 13px;
  padding: 4px;
  outline: none;
}
.duration-unit {
  margin: 4px 8px;
  outline: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}

/*************************************************/
/* DateRangePanel (ec3)                        */
.dateRange-container {
  margin-left: 8px;
}
.dateRange-radioContainer {
  margin: 8px 8px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}
.dateRange-label {
  color: #FFFFFF;
  margin: 4px 8px 4px 0px;
/*   font-family: "Roboto-medium"; */
  font-size: 13px;
}
.dateRange-checkBox {
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}
.dateRange-checkBox label {
  margin: 4px 8px 4px 0px;
/*   font-family: "Roboto-medium"; */
  font-size: 13px;
  cursor: pointer;
}
.dateRange-absoluteContainer .ec3-dateTimePicker {
  margin: 4px 8px 4px 0px;
}
.dateRange-checkBox input {
  cursor: pointer;
}
.dateRange-radio {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  color: #FFFFFF;
  margin: 4px 8px;
  cursor: pointer;
}
.dateRange-radioContainer input,
.dateRange-radioContainer label {
  cursor: pointer;
/*   font-family: "Roboto-medium"; */
  font-size: 13px;
}
.dateRange-relativeContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  margin: 8px;
  height: 35px;
}
.dateRange-absoluteContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  margin: 8px;
  height: 35px;
}
.dateRange-relativeValue {
  color: white;
  margin: 4px 8px;
  width: auto;
  background-color: #5b5b5b;
  border: none;
  border-radius: 2px;
  max-width: 50px;
/*   font-family: "Roboto-medium"; */
  font-size: 13px;
  padding: 4px;
  outline: none;
}
.dateRange-relativeUnit {
  margin: 4px 8px;
  outline: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}
.dateRange-invalid {
  -webkit-animation: invalidBlink 0.2s ease-in-out 3 alternate;
  animation: invalidBlink 0.2s ease-in-out 3 alternate;
  box-shadow: inset 0px 0px 5px #ffae00;
}
/********************************************************************/



