
/****************************************************************************/
/* PopupMenu                                                       */
.mwt-popupmenu {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
}
.mwt-popupmenu-item {
    display: block;
}
