
.mwt-instruction-sheet-popup .Caption {
    background: -webkit-linear-gradient(top, #2A2A2A, #202020);
    background: -moz-linear-gradient(top, #2A2A2A, #202020);
    background: -ms-linear-gradient(top, #2A2A2A, #202020);
    padding: 4px;
    border-width: 0px;
    border-bottom: 1px solid #161616;
    font: normal 1.2em tahoma,arial,helvetica,sans-serif; /* PATTERN : FONT-2 */
    line-height: 1.4em;
    color: #FFFFFF;
}

.mwt-instruction-sheet-panel {
    background-color: #626B6D;
    color: #000000;
    cursor: default;
    white-space: nowrap;
}

.mwt-instruction-sheet-composite {
    background-color: #626B6D;
    color: #000000;
    white-space: nowrap;
}

.mwt-instruction-sheet-button {
    margin: 5px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-weight: bold;
    height: 24px;
    width: 100px;
}
