@import url("mwt-timeseries.css");
@import url("mwt-chart.css");
@import url("showcase.css");
@import url("showcase-toolbar.css");
@import url("showcase-dropzone.css");

.alarm_ack_No{
	font-weight:bold;
	font-style:normal!important;
    animation: blinkhide 2s linear infinite;
}
.alarm_ack_Yes{
	font-weight:normal;
	font-style:italic!important;
}

.alarm_LOW {
    color: #111111!important;
	background-color : #4caf50!important;
}

.alarm_MEDIUM {
    background-color : #FFEB3B!important;
    color: #111111!important;
    border-bottom-width: 1px;
    border-bottom-color: #FFFFFF;
}

.alarm_HIGH {
color: #111111!important;
	background-color : #FF9800!important;
    border-bottom-width: 1px;
    border-bottom-color: #FFFFFF;
}

.alarm_CRITICAL{
color: #111111!important;
	background-color : #F44336!important;
    border-bottom-width: 1px;
}

.alarm_ack_PNA{
	font-weight:bold;
	font-style:normal!important;
     
}
.alarm_ack_NPNA{
	font-weight:bold;
	font-style:normal!important;
     
}
.alarm_ack_NPA{
	font-weight:normal;
	font-style:italic!important;
    
}
.alarm_ack_PA{
	font-weight:normal;
	font-style:italic!important;
    
}


.scs-almseverity-none {
	border-right: 10px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.scs-almseverity-0 {
    border-right: 10px solid #4caf50;
    border-left: 1px solid #4caf50;
    border-top: 1px solid #4caf50;
    border-bottom: 1px solid #4caf50;
    
}

.scs-almseverity-invalid {
    border-right: 10px solid #c51162;
    border-left: 1px solid #c51162;
    border-top: 1px solid #c51162;
    border-bottom: 1px solid #c51162;
}

.scs-almseverity-offline {
    border-right: 10px solid #90a4ae !important;
    border-left: 1px solid #90a4ae !important;
    border-top: 1px solid #90a4ae !important;
    border-bottom: 1px solid #90a4ae !important;
	color: #90a4ae !important;
    padding-right: 4px !important;
    font-style: italic !important;
}

.scs-almseverity-1 {
    border-right: 10px solid #4caf50;
    border-left: 1px solid #4caf50;
    border-top: 1px solid #4caf50;
    border-bottom: 1px solid #4caf50;
   
}
.scs-almseverity-2{
	border-right: 10px solid #FFEB3B;
    border-left: 1px solid #FFEB3B;
    border-top: 1px solid #FFEB3B;
    border-bottom: 1px solid #FFEB3B;
    
}
.scs-almseverity-3{
	border-right: 10px solid #FF9800;
    border-left: 1px solid #FF9800;
    border-top: 1px solid #FF9800;
    border-bottom: 1px solid #FF9800;
    
}
.scs-almseverity-4{
    border-right: 10px solid #FF9800;
    border-left: 1px solid #FF9800;
    border-top: 1px solid #FF9800;
    border-bottom: 1px solid #FF9800;
   
}

.gdg_invalid{
	color : #90a4ae!important;
    font-style:italic!important;
}

.gdg_normal{
	color : white!important;
}

.scsmx_counter_CRITICAL_NotAck {
fill : #F44336!important;
stroke: cyan;
 -webkit-animation: blinkhide 2s linear infinite;
    animation: blinkhide 2s linear infinite;
}

.scsmx_counter_HIGH_NotAck {
fill : #FF9800!important;
stroke: cyan;
-webkit-animation: blinkhide 2s linear infinite;
    
    animation: blinkhide 2s linear infinite;
}

.scsmx_counter_MEDIUM_NotAck {
fill : #FFEB3B!important;
stroke: cyan;
 -webkit-animation: blinkhide 2s linear infinite;
    animation: blinkhide 2s linear infinite;
}

.scsmx_counter_LOW_NotAck {
fill : #4caf50!important;
stroke: cyan;
   -webkit-animation: blinkhide 2s linear infinite;
    animation: blinkhide 2s linear infinite;
}

.scsmx_counter_priority_CRITICAL {
fill : #F44336!important;
}

.scsmx_counter_priority_HIGH {
fill : #FF9800!important;
}

.scsmx_counter_priority_MEDIUM {
fill : #FFEB3B!important;
}

.scsmx_counter_priority_LOW {
fill : #4caf50!important;
}


@-webkit-keyframes blink {
    0% { background-color: red; }
    70% { background-color: red; }
    70.1% { background-color: white; }
    100% { background-color: white; }
}

@-moz-keyframes blink {
     0% { background-color: red; }
    70% { background-color: red; }
    70.1% { background-color: white; }
    100% { background-color: white; }
}

@keyframes blink {
     0% { color: red; }
    80% { color: red; }
    80.1% { color: white; }
    100% { color: white; }
}

@-webkit-keyframes blinkhide {
     0% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes blinkhide {
     0% { opacity: 1; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}



	.gwt-DateBox {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: #999999 #CCCCCC #CCCCCC;
		border-image: none;
		border-right: 1px solid #CCCCCC;
		border-style: solid;
		border-width: 1px;
		font-size: 100%;
		padding: 5px 4px;
	}
	
	
	.gwt-DateBox input {
		width: 8em;
	}
	
	
	.dateBoxFormatError {
		background: none repeat scroll 0 0 #FFCCCC;
	}
	
	
	.dateBoxPopup {
		
	}
	

	.gwt-DatePicker {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: #999999 #CCCCCC #CCCCCC;
		border-image: none;
		border-right: 1px solid #CCCCCC;
		border-style: solid;
		border-width: 1px;
		cursor: default;
	}
	

	.gwt-DatePicker td, .datePickerMonthSelector td:focus {
		outline: medium none;
	}
	

	.datePickerDays {
		background: none repeat scroll 0 0 #FFFFFF;
		width: 100%;
	}
	

	.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
		border-bottom: 1px solid #EDEDED;
		border-right: 1px solid #EDEDED;
		color: #333333;
		font-size: 85%;
		font-weight: bold;
		outline: medium none;
		padding: 4px;
		text-align: center;
	}
	

	.datePickerWeekdayLabel, .datePickerWeekendLabel {
		background: none repeat scroll 0 0 #FFFFFF;
		color: #666666;
		cursor: default;
		font-size: 70%;
		font-weight: normal;
		padding: 0 4px 2px;
	}
	

	.datePickerDay {
		cursor: pointer;
		padding: 4px 7px;
	}
	
	
	.datePickerDayIsWeekend {
		background: none repeat scroll 0 0 #F7F7F7;
	}
	
	
	.datePickerDayIsFiller {
		color: #999999;
		font-weight: normal;
	}
	
	
	.datePickerDayIsValue {
		background: none repeat scroll 0 0 #D7DFE8;
	}
	

	.datePickerDayIsDisabled {
		color: #AAAAAA;
		font-style: italic;
	}
	
	
	.datePickerDayIsHighlighted {
		background: none repeat scroll 0 0 #F0E68C;
	}
	
	.datePickerDayIsValueAndHighlighted {
		background: none repeat scroll 0 0 #D7DFE8;
	}
	
	.datePickerDayIsToday {
		background: url("images/hborder.png") repeat-x scroll 0 -2607px
			rgba(0, 0, 0, 0);
		color: #FFFFFF;
		padding: 3px;
	}
	
	.datePickerMonthSelector {
		background: none repeat scroll 0 0 #CCCCCC;
		padding: 1px 0 5px;
		width: 100%;
	}
	
	td.datePickerMonth, td.datePickerYear {
		color: #333333;
		font-size: 100%;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
	}
	
	.datePickerPreviousButton, .datePickerNextButton,
		.datePickerPreviousYearButton, .datePickerNextYearButton {
		color: #3A6AAD;
		cursor: pointer;
		font-size: 120%;
		font-weight: bold;
		line-height: 1em;
		outline: medium none;
		padding: 0 4px;
	}
