@import url('project-panel-dialogmsg.css');

@import url('project-panel-uipanelaccessbar.css');
@import url('project-panel-uipanelalarmbanner.css');
@import url('project-panel-uipanelmenu.css');
@import url('project-panel-uipanelstatusbar.css');
@import url('project-panel-uipanelview.css');
@import url('project-panel-uipanelviewlayout.css');
@import url('project-panel-uipanelviewpanel.css');
@import url('project-panel-uiscreenmmi.css');
@import url('project-panel-uiscreenopm.css');
@import url('project-panel-uiviewalarm.css');
@import url('project-panel-wrapperscslarmlistpanel.css');
@import url("project-panel-almgn-swap.css");
@import url("project-panel-input-control.css");
@import url("project-panel-inputtable-filter.css");
@import url("project-panel-navigation-button.css");
@import url("project-panel-help-url.css");
@import url("project-panel-alarm-summary.css");
@import url("project-symbol.css");
@import url("project-uiwidget-datagrid.css");

.project-gwt-button {
	color: black;
	font-weight: bold;
	font-size: 16px !important;
}
